/* header */
.header {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 6px;
}

.header a {
  padding: 0 12px;
}

.header a:not(:last-child) {
  border-right: 1px dotted var(--primary);
}

/* content */
.content {
  line-height: 1.7;
}

/* footer */