.posts-item {
  display: flex;
  gap: 16px;
  word-break: initial;
}

.posts-item span {
  color: gray;
}

.posts-item a {
  color: white;
}

@keyframes blinking {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.motd::after {
  content: "_";
  animation: blinking 1s steps(2) infinite;
}

h2 {
  color: var(--primary);
}