---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";

const blogEntries = await getCollection("blog").then((entries) => {
  return entries.filter((entry) => !entry.data.draft);
});
---

<Layout description="Web, IoT, ML, Cybersecurity and Graphics developer.">
  <div class="prose prose-truegray dark:prose-invert">
    <h2>Saurlax</h2>
    <p>Web, IoT, ML, Cybersecurity and Graphics developer.</p>

    <h3>Pinned</h3>
  </div>

  <div class="gap-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    {
      blogEntries
        .filter((entry) => entry.data.pin)
        .sort((a, b) => {
          return b.data.date.getTime() - a.data.date.getTime();
        })
        .map((entry) => <ArticleCard entry={entry} />)
    }
  </div>

  <div class="prose prose-truegray dark:prose-invert">
    <h3>Recently released</h3>
  </div>

  <div class="gap-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    {
      blogEntries
        .sort((a, b) => {
          return b.data.date.getTime() - a.data.date.getTime();
        })
        .slice(0, 12)
        .map((entry) => <ArticleCard entry={entry} />)
    }
  </div>
</Layout>
