---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";

const postsEntries = await getCollection("posts");
---

<Layout description="Web, IoT, DL, Cybersecurity and Graphics developer.">
  <h1 class="m-10 text-2xl font-bold text-center">Saurlax</h1>

  <div class="gap-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    {
      postsEntries
        .sort((a, b) => {
          return b.data.date.getTime() - a.data.date.getTime();
        })
        .slice(0, 12)
        .map((entry) => <ArticleCard entry={entry} />)
    }
  </div>
  <p class="text-center mt-4">
    <a href="/posts">
      <button class="text-center py-2 px-4 border border-blue rounded">
        查看更多
      </button>
    </a>
  </p>
</Layout>
