---
import Layout from "../layouts/Layout.astro";
import PagefindSearch from "astro-pagefind/components/Search";
---

<Layout title="搜索">
  <h1 class="my-10 text-4xl font-bold">搜索</h1>
  <PagefindSearch uiOptions={{ showImages: false }} />
</Layout>
