<header class="pos-sticky z-100 top-0 backdrop-blur">
  <div class="px-6 py-4 mx-auto flex justify-between">
    <nav class="text-xl font-bold"><a href="/">Saurlax</a></nav>
    <nav class="inline-flex items-center gap-x-4">
      <nav class="hidden md:inline-flex items-center gap-x-4">
        <a href="/blog">Blog</a>
        <a href="/tags">Tags</a>
        <a href="/projects">Projects</a>
        <a href="/friends">Friends</a>
      </nav>
      <button class="i-ri-search-line"></button>
      <button class="i-ri-sun-line" onclick="toggleDark()"></button>
    </nav>
  </div>
</header>

<script is:inline>
  Object.defineProperty(window, "dark", {
    get() {
      return document.documentElement.classList.contains("dark");
    },
    set(value) {
      value = Boolean(value);
      const html = document.documentElement;
      if (value) {
        html.classList.add("dark");
      } else {
        html.classList.remove("dark");
      }
      sessionStorage.setItem("dark", value);
      window.dispatchEvent(new CustomEvent("dark", { detail: value }));
    },
  });

  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");
  prefersDark.addEventListener("change", (e) => {
    window.dark = e.matches;
  });

  const storageDark = sessionStorage.getItem("dark");
  if (storageDark === "true") {
    window.dark = true;
  } else {
    window.dark = prefersDark.matches;
  }

  function toggleDark() {
    window.dark = !window.dark;
  }
</script>
