<header class="sticky z-100 top-0 backdrop-blur">
  <div class="px-6 py-4 mx-auto flex justify-between">
    <nav class="inline-flex items-center gap-x-2">
      <a class="inline-flex items-center gap-x-1" href="/">
        <img src="/favicon.svg" alt="Saurlax" class="w-8 h-8" />
        <span class="font-bold">Saurlax</span>
      </a>
      <a class="i-ri-rss-line" href="/feed.xml"></a>
    </nav>
    <nav class="inline-flex items-center gap-x-4">
      <nav class="hidden md:inline-flex items-center gap-x-4">
        <a href="/blog">Blog</a>
        <a href="/tags">Tags</a>
        <a href="/projects">Projects</a>
        <a href="/friends">Friends</a>
      </nav>
      <a class="i-ri-search-line" href="/search"></a>
      <a class="i-ri-github-line" href="https://github.com/saurlax"></a>
      <button class="i-ri-sun-line" onclick="toggleDark()"></button>
      <button class="i-ri-menu-line md:hidden" onclick="toggleMenu()"></button>
    </nav>
  </div>
  <div id="menu" class="hidden">
    <div
      class="w-full p-4 flex flex-col gap-y-4 border-t border-b bg-opacity-50 shadow
    border-gray-2 bg-white dark:border-gray-8 dark:bg-black"
    >
      <a href="/blog">Blog</a>
      <a href="/tags">Tags</a>
      <a href="/projects">Projects</a>
      <a href="/friends">Friends</a>
    </div>
  </div>
</header>

<script is:inline>
  Object.defineProperty(window, "dark", {
    get() {
      return document.documentElement.classList.contains("dark");
    },
    set(value) {
      value = Boolean(value);
      const html = document.documentElement;
      if (value) {
        html.classList.add("dark");
      } else {
        html.classList.remove("dark");
      }
      sessionStorage.setItem("dark", value);
      window.dispatchEvent(new CustomEvent("dark", { detail: value }));
    },
  });

  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");
  prefersDark.addEventListener("change", (e) => {
    window.dark = e.matches;
  });

  const storageDark = sessionStorage.getItem("dark");
  if (storageDark === "true") {
    window.dark = true;
  } else {
    window.dark = prefersDark.matches;
  }

  function toggleDark() {
    window.dark = !window.dark;
  }

  function toggleMenu() {
    const menu = document.getElementById("menu");
    menu.classList.toggle("hidden");
  }
</script>
