<header class="pos-sticky z-100 top-0 backdrop-blur">
  <div class="px-6 py-4 mx-auto flex justify-between">
    <nav class="text-xl font-bold"><a href="/">Saurlax</a></nav>
    <nav class="inline-flex items-center gap-x-4">
      <nav class="hidden md:inline-flex items-center gap-x-4">
        <a href="/blog">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/friends">Friends</a>
      </nav>
      <button class="i-ri-search-line"></button>
      <button class="i-ri-sun-line" onclick="updateTheme()"></button>
    </nav>
  </div>
</header>

<script is:inline>
  function updateTheme(dark) {
    const html = document.documentElement;
    if (dark === true) {
      html.classList.add("dark");
    } else if (dark === false) {
      html.classList.remove("dark");
    } else {
      html.classList.toggle("dark");
    }
  }
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");

  prefersDark.addEventListener("change", (e) => {
    updateTheme(e.matches);
  });

  const theme = sessionStorage.getItem("theme");
  if (theme) {
    updateTheme(theme === "dark");
  } else {
    updateTheme(prefersDark.matches);
  }
</script>
