---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="text-sm text-gray-6 dark:text-gray-4">
  {
    headings.map((heading) => {
      return (
        <a
          href={`#${heading.slug}`}
          class="block hover:text-blue"
          style={`margin-left: ${heading.depth - 2}em;`}
        >
          {heading.text}
        </a>
      );
    })
  }
</div>
