body {
  margin: 20px;
  font-family: Consolas, sans-serif;
  font-size: 14px;
  color: #212121;

  --primary: #008585;
  --max-width: 1000px;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

ul,
p {
  line-height: 1.7;
}

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after {
  content: ' #';
}

pre,
code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono";
  overflow: auto;
  font-size: 14px;
  border-radius: 2px;
}

code:not(pre code) {
  padding: 0 2px;
  background-color: #f3f3f3;
}

blockquote {
  margin: 0;
  padding: 0 20px;
  border-left: 4px solid #f3f3f3;
  color: #757575;
}

/* header */
.header {
  margin: auto;
  padding: 20px;
  max-width: var(--max-width);
}


.placeholder {
  height: 60px;
}

/* content */
.content {
  margin: auto;
  max-width: var(--max-width);
}

/* footer */
.footer {
  max-width: var(--max-width);
  margin: auto;
}