body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #212121;

  --max-width: 1000px;
}

a {
  color: #116494;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #127bb8;
}

ul,
p {
  line-height: 1.5;
}

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after {
  content: ' #';
}

pre,
code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono";
  overflow: auto;
  font-size: 14px;
  border-radius: 2px;
}

code:not(pre code) {
  padding: 0 2px;
  background-color: #f3f3f3;
}

blockquote {
  margin: 0;
  padding: 0 20px;
  border-left: 4px solid #f3f3f3;
  color: #757575;
}

/* header */
.header {
  padding: 10px 20px;
  background-color: #f3f3f388;
  border-bottom: 1px solid #e5e5e544;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  backdrop-filter: blur(20px);
  user-select: none;
}

.header-inner {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.header-nav a {
  color: #212121;
  text-decoration: none;
  padding: 8px;
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: #757575;
}

.placeholder {
  height: 60px;
}

/* content */
.content {
  margin: auto;
  max-width: var(--max-width);
  padding: 20px;
}

/* footer */
.footer {
  padding: 20px 40px;
  background-color: #f3f3f3;
}

.footer-inner {
  margin: auto;
  max-width: var(--max-width);
}