---
import dayjs from "dayjs";
import Comment from "../components/Comment.astro";
import Layout from "./Layout.astro";
import Tag from "../components/Tag.astro";

interface Props {
  title?: string;
  date?: Date;
  lastUpdated?: Date;
  tags?: string[];
  comment?: boolean;
}

const { title, date, lastUpdated, tags, comment: comment = true } = Astro.props;
---

<Layout title={title}>
  <div class="flex justify-center gap-4">
    <div class="w-full text-base prose prose-truegray dark:prose-invert">
      <main>
        <h1 class="m-0">{title}</h1>
        <div>
          {date && <span>{dayjs(date).format("YYYY-MM-DD")}</span>}
          {
            date && lastUpdated && (
              <span>更新时间：{dayjs(lastUpdated).format("YYYY-MM-DD")}</span>
            )
          }
        </div>
        <div>
          {tags?.map((tag) => <Tag href={`/tags/${tag}`}>{tag}</Tag>)}
        </div>
        <div class="text-base prose w-full">
          <slot />
        </div>
      </main>
      <div class="not-prose">
        {comment && <Comment />}
      </div>
    </div>
    <div class="flex-grow-1 hidden md:block">
      <slot name="aside" />
    </div>
  </div>
</Layout>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 6rem;
  }

  .prose {
    overflow-wrap: break-word;
  }

  .prose code:not(pre code) {
    white-space: pre-wrap;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .flowchart {
    width: auto;
    height: auto;
    overflow: auto;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
</style>
