---
import dayjs from "dayjs";
import Comment from "../components/Comment.astro";
import Layout from "./Layout.astro";
import Tag from "../components/Tag.astro";

interface Props {
  title?: string;
  date?: Date;
  tags?: string[];
  comment?: boolean;
}

const { title, date, tags, comment: comment = true } = Astro.props;
---

<Layout title={title}>
  <main class="prose-truegray dark:prose-invert">
    <div class="my-10 text-base prose">
      <h1 class="m-0">{title}</h1>
      <div>
        {date && dayjs(date).format("YYYY-MM-DD")}
      </div>
      <div>
        {tags?.map((tag) => <Tag>{tag}</Tag>)}
      </div>
    </div>
    <div class="flex gap-4">
      <div class="text-base prose w-full">
        <slot />
      </div>
      <div class="flex-grow-1 hidden md:block">
        <slot name="aside" />
      </div>
    </div>
  </main>
  {comment && <Comment />}
</Layout>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 6rem;
  }

  .prose code:not(pre code) {
    white-space: pre-wrap;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }
</style>
