---
import Layout from "./Layout.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="mx-auto max-w-prose">
    <h1 class="text-4xl font-bold">{title}</h1>
    <div class="text-base prose prose-truegray xl:text-xl">
      <slot />
    </div>
  </main>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="saurlax/saurlax"
    data-repo-id="R_kgDOG_gYgA"
    data-category="Announcements"
    data-category-id="DIC_kwDOG_gYgM4Cju9B"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async></script>
</Layout>

<style is:global>
  .prose code:not(pre code) {
    white-space: pre-wrap;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }
</style>
